*, ::before, ::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
}

p {
  margin: 0.25em 0;
  font-size: 0.85em;
}

.deck {
  font-family: Arial, sans-serif;
  font-size: 2em;
  line-height: 1.6;
  color: #303030;
  -webkit-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  text-rendering: optimizeLegibility;
}

/* Hide deck and slide content until bespoke.js has added classes */
.deck:not(.bespoke-parent), .deck section:not(.bespoke-slide) {
  display: none;
}

.bespoke-parent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
}

.bespoke-slide {
  /* force opacity to start at 0 to avoid transition on load when using bespoke-scale */
  opacity: 0;
  position: absolute;
  width: 640px;
  margin-left: -320px;
  top: 50%;
  height: 360px;
  margin-top: -180px;
  left: 50%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
            -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
       -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  padding: 1em;
  transition: all 300ms ease;
}

.bespoke-active {
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
}
